// build:js js/vendor/libraries.min.js

// endbuild

// build:js js/vendor/foundation.min.js

// endbuild
// build:js js/app.min.js
//- script(src="scripts/main.js")
script(src="scripts/commons.bundles.js")
script(src="scripts/vendors.js")
// endbuild
