@font-face {
  font-family: 'KontrapunktMiki';
  font-weight: 400;
  src: url('../fonts/KontrapunktMiki-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/KontrapunktMiki-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/KontrapunktMiki-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/KontrapunktMiki-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/KontrapunktMiki-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/KontrapunktMiki-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'KontrapunktMiki';
  font-weight: 600;
  src: url('../fonts/KontrapunktMiki-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/KontrapunktMiki-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/KontrapunktMiki-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/KontrapunktMiki-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/KontrapunktMiki-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/KontrapunktMiki-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'KontrapunktMiki';
  font-weight: 700;
  src: url('../fonts/KontrapunktMiki-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/KontrapunktMiki-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/KontrapunktMiki-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/KontrapunktMiki-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/KontrapunktMiki-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/KontrapunktMiki-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
