// build:js js/vendor/libraries.min.js

// endbuild

// build:js js/vendor/foundation.min.js

// endbuild
// build:js assets/js/app.min.js
script(src="assets/javascript/commons.bundles.js")
script(src="assets/javascript/vendors.js")
// endbuild
